In [37]:
#Librerías
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
#Leer y mostrar archivo
df = pd.read_excel('salas.xlsx', header=1)

filas, columnas = df.shape
print(f"Filas: {filas}\nColumnas: {columnas}")
df.head()

Filas: 161
Columnas: 10

,idspace,mts2,num_enchufes,foto,Campus,Edificio,Sala,Capacidad,Tipo,Forma
0,100,NaN,0,NaN,Peñalolén,Edificio Postgrado C,300-C,130,Sala Postgrado,Auditorio Hibrido
1,124,NaN,0,NaN,Peñalolén,Edificio Postgrado C,Comedor Gr. (C),100,Sala Reuniones,Plana
2,186,NaN,0,NaN,Peñalolén,Edificio Postgrado C,CENTRO DE CUERDAS,75,Lab. Investigación,Plana
3,103,NaN,0,NaN,Peñalolén,Edificio Postgrado C,303-C,70,Sala,Auditorio Hibrido
4,105,NaN,0,NaN,Peñalolén,Edificio Postgrado C,305-C,70,Sala,Auditorio Hibrido

In [39]:
#Eliminamos columnas inecesarias
df = df.drop(['num_enchufes','mts2','foto'], axis= 1)
df.head()

,idspace,Campus,Edificio,Sala,Capacidad,Tipo,Forma
0,100,Peñalolén,Edificio Postgrado C,300-C,130,Sala Postgrado,Auditorio Hibrido
1,124,Peñalolén,Edificio Postgrado C,Comedor Gr. (C),100,Sala Reuniones,Plana
2,186,Peñalolén,Edificio Postgrado C,CENTRO DE CUERDAS,75,Lab. Investigación,Plana
3,103,Peñalolén,Edificio Postgrado C,303-C,70,Sala,Auditorio Hibrido
4,105,Peñalolén,Edificio Postgrado C,305-C,70,Sala,Auditorio Hibrido

In [40]:
cps = df['Campus'].unique()
print(cps)
#XD no sirve de nd

['Peñalolén']

In [41]:
df = df.drop('Campus', axis= 1)

print(df.shape)
df.head()

(161, 6)

,idspace,Edificio,Sala,Capacidad,Tipo,Forma
0,100,Edificio Postgrado C,300-C,130,Sala Postgrado,Auditorio Hibrido
1,124,Edificio Postgrado C,Comedor Gr. (C),100,Sala Reuniones,Plana
2,186,Edificio Postgrado C,CENTRO DE CUERDAS,75,Lab. Investigación,Plana
3,103,Edificio Postgrado C,303-C,70,Sala,Auditorio Hibrido
4,105,Edificio Postgrado C,305-C,70,Sala,Auditorio Hibrido